<section class="block block-text-1">
  <div class="container">
    <div class="row">
      
      
      <div style="margin-bottom:50px;" class="col-lg-5 col-md-6">
              <div class="slider">
          <ul id="vacancySlider">

            {% for image in section.vacancyImages %}
              <li data-thumb="{{ image.image_path | prepend: site.baseurl | replace: '//', '/' }}">
                  <img src="{{ image.image_path | prepend: site.baseurl | replace: '//', '/' }}"/>
              </li>
            {% endfor %} 
            
          </ul>
      </div>
      </div>

      
      


      <div class="offset-lg-1 col-md-6">
        
        <div class="row" style="margin-bottom:10px;"> 
          <div class="col-xs-8 mx-auto">
            <h4> {{section.address}} </h4>
          </div>
        </div>

         <div class="row">
          <div class="col-sm-5" style="margin-bottom:20px">
            <h5 class="vacancy-header"> At a glance </h5>
                <ul class="glance">
                  {% for post in section.atAGlance %}
                  <li> {{post.list_item}} </li>
                 {% endfor %}
                </ul>  

            <a href="mailto:{{section.buttonEmail}}" class="btn btn-gold vacancy-btn"> {{section.buttonText}} </a>    

          </div>
          <div class="col-sm-7">
            <h5 class="vacancy-header"> Description </h5>
            <p style="margin-top:0px;padding-top:0px;"> {{section.vacancy_description}}</p>

         </div>
         </div> 


        </div>
      
      </div>  
    </div>
</section>