<!-- Footer -->



<footer>
  <div class="container" style="padding-bottom:0px;">
    <div class="row">
      <div class="col-sm-2 offset-sm-3 mx-auto">
        <ul style="list-style:none;">
         <li class="footer-item dropdown">
          <a class=" footer-link dropdown-toggle" href="#" data-toggle="dropdown">LA Portfolio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
              <li><a href="{{"/beverly-grove" | relative_url }}">Beverly Grove</a></li>
              <li><a href="{{"/west-third-street" | relative_url }}">West Third Street</a></li>
              <li><a href="{{"/melrose" | relative_url }}"> Melrose </a></li>
              <li><a href="{{"/beverly-hills" | relative_url }}"> Beverly Hills </a></li>
        
          </ul>
        </li>
          <li class="footer-item">
            <a class="footer-link" href="/about">
             About
            </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="/contact">
             Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 mx-auto" style="display: flex;
  align-items: center;">
            
      </div>
      <div class="col-sm-2 mx-auto">
        <p> GTL/KG Properties, <br> Beverly Hills, CA </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class ="col-lg-8 col-md-10 mx-auto">
        <p style="padding:0px;margin:0px;" class="copyright text-muted"> Made by Kvanwink Designs </p>
      </div>
    </div>
  </div>      
</footer>
