<!-- Footer -->



<footer>
  <div class="container" style="padding-bottom:0px;">
    <div class="row">
      <div class="col-sm-2 offset-sm-3 mx-auto">
        <ul style="list-style:none;">
         <li class="footer-item">
            <a class="footer-link" href="/posts}}">
             View Portfolio
            </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="/about">
             About
            </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="/contact">
             Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 mx-auto" style="display: flex;
  align-items: center;">
            <a href="https://www.instagram.com/{{ site.instagram_username }}" style="margin:0px auto">
              <span class="fa-stack" style="font-size: 2.5em">
                <i class="fa fa-circle fa-stack-2x" style="color:#191B47"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
      </div>
      <div class="col-sm-2 mx-auto">
        <p> GTL/KG, <br> Beverly Hills, CA </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class ="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted"> Made by Kvanwink Designs </p>
      </div>
    </div>
  </div>      
</footer>
