---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            
          
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container-fluid under-header">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2> Welcome to GTL/KG, one of California’s oldest privately-owned property development,
investment, and management companies.</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3> Greater Los Angeles Portfolio </h3>
        <hr>
      </div>
    </div>
  </div>


  <div class="container">
    
    <div class="row">

      <div class="col-md-4 offset-md-1 text-center">
        <div class="property-container">
        {% if page.property1Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered"> Beverly Hills </h2>
        <img class="img-fluid property-img"  src="{{ page.property1 | prepend: site.baseurl | replace: '//', '/' }}"/>
        </div>
        <a href="#" style="margin-bottom:30px;" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 

      </div>

      <div class="col-md-2" style="margin-right:-15px;margin-left:-15px;"></div>
      
      <div class="col-md-4 text-center">

        <div class="property-container">
        {% if page.property2Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered"> West Third Street</h2>
        <img class="img-fluid property-img" src="{{ page.property2 | prepend: site.baseurl | replace: '//', '/' }}"/>
        </div>
        <a href="#" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-4 offset-md-1 text-center">
      <div class="property-container">
        {% if page.property3Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered"> Melrose </h2>
        <img class="img-fluid property-img" src="{{ page.property3 | prepend: site.baseurl | replace: '//', '/' }}"/>
      </div>
        <a href="#" style="margin-bottom:30px;" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 


      </div>
      <div class="col-md-2" style="margin-right:-15px;margin-left:-15px;"></div>
      <div class="col-md-4 text-center">
          
        <div class="property-container">
        {% if page.property4Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered"> Beverly Grove </h2>
        <img class="img-fluid property-img" src="{{ page.property4 | prepend: site.baseurl | replace: '//', '/' }}"/>
        </div>
        <a href="#" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 

      </div>
    </div>
  </div>

  <div class="container-fluid about">
  <!--   <div class="about-overlay"></div> -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="about-header"> About GTL/KG </h3>
        <hr class="about-hr">
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4 icon">
        <img class="img-fluid mx-auto" src="img/neighborhood.svg"/>
        <h4> Neighborhood enhancements </h4>
        <p> As property owners and managers with nearly 100
            years’ experience in Southern California, we know how important it is for a business
            integrate itself in the community. We make it our mission to connect our tenants with
            neighborhood resources so that they become flourishing and active members of their
            new homes. </p>
      </div>
      <div class="col-sm-4 icon">
        <img class="img-fluid mx-auto" src="img/concierge.svg"/>
        <h4> Concierge Services </h4>
        <p> We provide extraordinary attentiveness to tenant needs, including connecting
them to local resources to ensure they become vibrant members of their
community.</p>
      </div>
      <div class="col-sm-4 icon">
        <img class="img-fluid mx-auto" src="img/family.svg"/>
        <h4> Family operated </h4>
        <p> Four generations of our family have made sure that our tenants—from Fortune
500 companies to start-ups—feel at home in our properties and are a part of the
family.</p>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto text-center block-quote">
        <h2 style="margin-bottom:40px"> For questions or rental inquiries
please contact us.</h2> 
        <a href="#" class="btn btn-gold"> Contact Us! </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 no-gutter">
        <img class="img-fluid" src="img/Coffee.jpg"/>
      </div>
      <div class="col-sm-3 no-gutter">
        <img class="img-fluid" src="img/IMAX.jpg"/>
      </div>
      <div class="col-sm-3 no-gutter">
        <img class="img-fluid" src="img/Shoes.jpg"/>
      </div>
      <div class="col-sm-3 no-gutter">
        <img class="img-fluid" src="img/Sunglasses.jpg"/>
     </div>                   
    </div>  
