---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <a href="#top" class="scroller"><div class="scroll"></div></a>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">


            
          
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container-fluid under-header">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2> {{page.top_quote}}</h2>
      </div>
    </div>
  </div>

  <div class="container" id="top">
    <div class="row" style="padding-top:15px;">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3> {{page.portfolio_title}} </h3>
        <hr>
      </div>
    </div>
  </div>


  <div class="container">
    
    <div class="row">

      <div class="col-md-4 offset-md-1 text-center">
        <div class="property-container">
        {% if page.property1Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered"> {{page.property1_name}} </h2>
        <img class="img-fluid property-img"  src="{{ page.property1 | prepend: site.baseurl | replace: '//', '/' }}"/>
        </div>
        <a href="{{"/beverly-hills" | relative_url }}" style="margin-bottom:30px;" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 

      </div>

      <div class="col-md-2" style="margin-right:-15px;margin-left:-15px;"></div>
      
      <div class="col-md-4 text-center">

        <div class="property-container">
        {% if page.property2Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered">{{page.property2_name}} </h2>
        <img class="img-fluid property-img" src="{{ page.property2 | prepend: site.baseurl | replace: '//', '/' }}"/>
        </div>
        <a href="{{"/west-third-street" | relative_url }}" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-4 offset-md-1 text-center">
      <div class="property-container">
        {% if page.property3Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered"> {{page.property3_name}} </h2>
        <img class="img-fluid property-img" src="{{ page.property3 | prepend: site.baseurl | replace: '//', '/' }}"/>
      </div>
        <a href="{{"/melrose" | relative_url }}" style="margin-bottom:30px;" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 


      </div>
      <div class="col-md-2" style="margin-right:-15px;margin-left:-15px;"></div>
      <div class="col-md-4 text-center">
          
        <div class="property-container">
        {% if page.property4Vacancy == true %}  
        <div class="space-available">
        <h4> Space Available! </h4>
        </div>
        {% endif %}
        <h2 class="centered"> {{page.property4_name}} </h2>
        <img class="img-fluid property-img" src="{{ page.property4 | prepend: site.baseurl | replace: '//', '/' }}"/>
        </div>
        <a href="{{"/beverly-grove" | relative_url }}" class="btn btn-sm btn-primary mx-auto"> Learn More </a> 

      </div>
    </div>
  </div>

  <div class="container-fluid about">
  <!--   <div class="about-overlay"></div> -->
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="about-header"> {{page.aboutSection_title}} </h3>
        <hr class="about-hr">
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4 icon">
        <img class="img-fluid mx-auto" src="{{ page.icon1 | prepend: site.baseurl | replace: '//', '/' }}"/>
        <h4> {{page.icon1_title}} </h4>
        <p> {{page.icon1_description}}</p>
      </div>
      <div class="col-sm-4 icon">
        <img class="img-fluid mx-auto" src="{{ page.icon2 | prepend: site.baseurl | replace: '//', '/' }}"/>
        <h4> {{page.icon2_title}} </h4>
        <p> {{page.icon2_description}}</p>
      </div>
      <div class="col-sm-4 icon">
        <img class="img-fluid mx-auto" src="{{ page.icon3 | prepend: site.baseurl | replace: '//', '/' }}"/>
        <h4> {{page.icon3_title}} </h4>
        <p> {{page.icon3_description}}</p>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto text-center block-quote">
        <h2 style="margin-bottom:40px"> {{page.contactText}} </h2> 
        <a href="mailto:{{page.buttonEmail}}" class="btn btn-gold"> {{page.buttonText}} </a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 no-gutter">
         <div class="image_caption">
   
      <span class="screen">
        <p class="title">
          {{page.bottomImageCap1}}
        </p>
      </span>
      <img class="img-fluid" src="{{ page.bottomImage1 | prepend: site.baseurl | replace: '//', '/' }}"/>
     </div>
        
      </div>
      <div class="col-md-3 no-gutter">
        <div class="image_caption">
   
      <span class="screen">
        <p class="title">
          {{page.bottomImageCap2}}
        </p>
      </span>
       <img class="img-fluid" src="{{ page.bottomImage2 | prepend: site.baseurl | replace: '//', '/' }}"/>
     </div>
      </div>
      <div class="col-md-3 no-gutter">
        <div class="image_caption">
   
      <span class="screen">
        <p class="title">
          {{page.bottomImageCap3}}
        </p>
      </span>
        <img class="img-fluid" src="{{ page.bottomImage3 | prepend: site.baseurl | replace: '//', '/' }}"/>
     </div>

       
      </div>
      <div class="col-md-3 no-gutter">
        <div class="image_caption">
   
      <span class="screen">
        <p class="title">
          {{page.bottomImageCap4}}
        </p>
      </span>
        <img class="img-fluid" src="{{ page.bottomImage4 | prepend: site.baseurl | replace: '//', '/' }}"/>
     </div>
        
     </div>                   
    </div>  
