---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
  
  {% if page.isVacancy == true %}
  <div class="container-fluid under-header">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2> {{page.vacancyAvailable}} </h2>
      </div>
    </div>
  </div>
  {% endif %}

  {{ content }}

<div class="container">
  <div class="row">
    <div class="col-md-6">

      <img src="img/melrose.jpg"/>

    </div>
    <div class="col-md-6">

      <div class="row">
        <div class="col-xs-8 mx-auto">
          <h4 style="text-align:left;line-height:1.5;"> Where better to develop than the hottest <br>  spot in the city? </h4>
          <p> Our Beverly Grove property is directly across the street from LA’s Original
Farmers’ Market and The Grove, LA’s #1 tourist destination. Originally an annex
for the Farmers’ Market, the current structure was built in 1992 as a professional
office/warehouse setting. After housing a wholesale hat business for more than
20 years, legendary architecture firm Gensler redesigned the building for the
world’s first IMAX VR Centre. Head there to enjoy today’s most immersive
technology – virtual reality. Whether you’re fighting Stormtroopers in Star Wars:
Trials on Tattooine or diving into the 360-degree world of VR narrative, the
centre is one of the city’s most dazzling entertainment venues.
<br><br> The former warehouse space features ceilings that are two stories high. Upstairs,
the building features large office suites and a conference room with dramatic
views of the city. Indeed, this building remains a truly one-of-a-kind location for
its combination of office and open space at the center of the city’s largest tourist
region.<br><br>
Come explore our Beverly Grove flagship and prepare to be entertained.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-11">
          <h5> Features: </h5>
        </div>
      </div>

       <div class="row">
        <div class="col-sm-6" style="padding-left:0">
          <p> feature description </p>
        </div>
        <div class="col-sm-6" style="padding-left:0">
          <p> feature description </p>
        </div>
        <div class="col-sm-6" style="padding-left:0">
          <p> feature description </p>
        </div>
        <div class="col-sm-6" style="padding-left:0">
          <p> feature description </p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-6 propertyStat">
          <div class="odd">
            <h1> 1 </h1>
            <p> description </p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 propertyStat">
          <div class="even">
            <h1> 1 </h1>
            <p> description </p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 propertyStat">
          <div class="odd">
            <h1> 1 </h1>
            <p> description </p>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 propertyStat">
          <div class="even">
            <h1> 1 </h1>
            <p> description </p>
        </div>
      </div>






      

    </div>
  </div>
</div>