---
layout: default

---

<!-- Page Header -->
{% if page.background %}
<header class="masthead propertyMasthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
  
  {% if page.isVacancy == true %}
  <div class="container-fluid under-header">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2> {{page.vacancyAvailable}} </h2>
      </div>
    </div>
  </div>
  {% endif %}

  {% for section in page.page_sections %}
{% include block-{{ section.block }}.html %}
{% endfor %}

  {{ content }}

<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin-bottom:30px">

     <div class="slider">
    <ul id="lightSlider">

      {% for image in page.propertyImages %}
        <li data-thumb="{{ image.image_path | prepend: site.baseurl | replace: '//', '/' }}">
            <img src="{{ image.image_path | prepend: site.baseurl | replace: '//', '/' }}"/>
        </li>
      {% endfor %} 
      
    </ul>
</div>

    </div>
    <div class="col-md-6 align-self-center">
      <div class="row">
        <div class="col-sm-11 mx-auto">
          <h4 style="text-align:left;line-height:1.5;"> {{page.propertyHeader}} </h4>
          <p style="padding:0;margin-top:15px"> {{page.propertyDescription}}</p>
</div>
</div>
        </div>
      </div>
    </div>
 

    <div class="container" style="padding-bottom:60px;">
      <div class="row">
        <div class="col-md-3 col-xs-6 propertyStat">
          <div class="odd align-self-center">
            <div class="align-self-center">
            <h1> {{page.facts[0].number}} </h1>
            <p> {{page.facts[0].description}} </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 propertyStat">
          <div class="even align-self-center">
            <div class="align-self-center">
            <h1>{{page.facts[1].number}}</h1>
            <p> {{page.facts[1].description}} </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 propertyStat">
          <div class="odd align-self-center">
            <div class="align-self-center">
            <h1>{{page.facts[2].number}}</h1>
            <p> {{page.facts[2].description}} </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 propertyStat">
          <div class="even align-self-center">
            <div class="align-self-center">
            <h1> {{page.facts[3].number}}</h1>
            <p>{{page.facts[3].description}} </p>
          </div>
        </div>
      </div>    

    </div>
  </div>
</div>

 <div class="container-fluid about" style="background-image: url('{{ page.background_stories | prepend: site.baseurl | replace: '//', '/' }}');">
    <div class="about-overlay"></div>
    <div class="row" >
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3 class="about-header"> {{page.storiesHeader}} </h3>
        <hr class="about-hr">
      </div>
    </div>
    
    <div class="row">

       <div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0 offset-lg-0 align-self-center order-md-last">
        <img class="img-fluid mx-auto" src="{{ page.storiesImage | prepend: site.baseurl | replace: '//', '/' }}"/>
      </div>

      <div class="col-md-6 offset-lg-1 align-self-center order-md-first">
        <p> {{page.storiesDescription}}</p>

      </div>

     

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto text-center block-quote">
        <h2 style="margin-bottom:40px"> {{page.contactText}} </h2> 
        <a href="#" class="btn btn-gold"> {{page.buttonText}} </a>
      </div>
    </div>
  </div>